USE [master]
GO
/****** Object:  Database [FitnesClub]    Script Date: 05.03.2023 18:41:44 ******/
CREATE DATABASE [FitnesClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitnesClub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FitnesClub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitnesClub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FitnesClub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitnesClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitnesClub]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[PhoneNum] [nvarchar](17) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[DateOfReg] [date] NULL,
	[DateOfEnd] [date] NULL,
	[SubscriptionID] [int] NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coach]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach](
	[CoachID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[PhoneNum] [nvarchar](17) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[SpecialityID] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_Coach] PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[SpecialityID] [int] IDENTITY(1,1) NOT NULL,
	[NameSpeciality] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[SpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[NameStatus] [nvarchar](30) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[NameSubscription] [nvarchar](90) NOT NULL,
	[SpecialityID] [int] NULL,
	[CoachID] [int] NULL,
	[AmountOfDays] [int] NOT NULL,
	[VisitTimeID] [int] NOT NULL,
	[VisitDateID] [int] NOT NULL,
	[Price] [decimal](9, 2) NULL,
 CONSTRAINT [PK_Subscription] PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitDate]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitDate](
	[VisitDateID] [int] IDENTITY(1,1) NOT NULL,
	[DayOfVisit] [nvarchar](90) NOT NULL,
 CONSTRAINT [PK_VisitDate] PRIMARY KEY CLUSTERED 
(
	[VisitDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitTime]    Script Date: 05.03.2023 18:41:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitTime](
	[VisitTimeID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStart] [time](5) NOT NULL,
	[TimeEnd] [time](5) NOT NULL,
 CONSTRAINT [PK_VisitTime] PRIMARY KEY CLUSTERED 
(
	[VisitTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [PhoneNum], [Email], [DateOfReg], [DateOfEnd], [SubscriptionID], [StatusID]) VALUES (1, N'Гончаров', N'Александр', N'Дмитриевич', N'+7 916-866-38-19', N'gonharov.alex@ya.ru', CAST(N'2023-02-15' AS Date), CAST(N'2023-03-17' AS Date), 1, 1)
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [PhoneNum], [Email], [DateOfReg], [DateOfEnd], [SubscriptionID], [StatusID]) VALUES (2, N'Фамилия', N'Имя', N'Отчество', N'+7 321-312-31-23', N'3123123312', CAST(N'2023-02-25' AS Date), CAST(N'2023-03-27' AS Date), 3, 3)
INSERT [dbo].[Client] ([ClientID], [Surname], [Name], [Patronymic], [PhoneNum], [Email], [DateOfReg], [DateOfEnd], [SubscriptionID], [StatusID]) VALUES (6, N'Приколов', N'Прикол', N'Приколист', N'+7 312-312-31-23', N'', CAST(N'2023-02-21' AS Date), CAST(N'2024-02-21' AS Date), 2, 1)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Coach] ON 

SET IDENTITY_INSERT [dbo].[Coach] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [NameRole]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [NameRole]) VALUES (2, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Speciality] ON 

INSERT [dbo].[Speciality] ([SpecialityID], [NameSpeciality]) VALUES (1, N'Тренер художественной гимнастики ')
INSERT [dbo].[Speciality] ([SpecialityID], [NameSpeciality]) VALUES (2, N'Тренер тяжелой атлетики')
INSERT [dbo].[Speciality] ([SpecialityID], [NameSpeciality]) VALUES (4, N'Тренер по карате')
SET IDENTITY_INSERT [dbo].[Speciality] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [NameStatus]) VALUES (1, N'В действии')
INSERT [dbo].[Status] ([StatusID], [NameStatus]) VALUES (3, N'В ожидании')
INSERT [dbo].[Status] ([StatusID], [NameStatus]) VALUES (4, N'Запрещён')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscription] ON 

INSERT [dbo].[Subscription] ([SubscriptionID], [NameSubscription], [SpecialityID], [CoachID], [AmountOfDays], [VisitTimeID], [VisitDateID], [Price]) VALUES (1, N'Стандартный месяц', NULL, NULL, 30, 1, 1, CAST(2000.00 AS Decimal(9, 2)))
INSERT [dbo].[Subscription] ([SubscriptionID], [NameSubscription], [SpecialityID], [CoachID], [AmountOfDays], [VisitTimeID], [VisitDateID], [Price]) VALUES (2, N'Стандарт год', NULL, NULL, 365, 1, 1, CAST(16000.00 AS Decimal(9, 2)))
INSERT [dbo].[Subscription] ([SubscriptionID], [NameSubscription], [SpecialityID], [CoachID], [AmountOfDays], [VisitTimeID], [VisitDateID], [Price]) VALUES (3, N'Тяжёлая атлетика', 2, 3, 30, 2, 4, CAST(1500.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[Subscription] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Login], [Password], [RoleID]) VALUES (1, N'Admin', N'123', 1)
INSERT [dbo].[User] ([UserID], [Login], [Password], [RoleID]) VALUES (2, N'Staff', N'321', 2)
INSERT [dbo].[User] ([UserID], [Login], [Password], [RoleID]) VALUES (6, N'Natalya5@gmail.com', N'432fgh95342vf312', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitDate] ON 

INSERT [dbo].[VisitDate] ([VisitDateID], [DayOfVisit]) VALUES (1, N'Все дни')
INSERT [dbo].[VisitDate] ([VisitDateID], [DayOfVisit]) VALUES (3, N'По будням')
INSERT [dbo].[VisitDate] ([VisitDateID], [DayOfVisit]) VALUES (2, N'По выходным')
SET IDENTITY_INSERT [dbo].[VisitDate] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitTime] ON 

INSERT [dbo].[VisitTime] ([VisitTimeID], [TimeStart], [TimeEnd]) VALUES (1, CAST(N'09:00:00' AS Time), CAST(N'21:00:00' AS Time))
INSERT [dbo].[VisitTime] ([VisitTimeID], [TimeStart], [TimeEnd]) VALUES (2, CAST(N'12:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[VisitTime] ([VisitTimeID], [TimeStart], [TimeEnd]) VALUES (3, CAST(N'09:00:00' AS Time), CAST(N'21:10:00' AS Time))
SET IDENTITY_INSERT [dbo].[VisitTime] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Status_NameStatus]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[Status] ADD  CONSTRAINT [IX_Status_NameStatus] UNIQUE NONCLUSTERED 
(
	[NameStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Subscription_NameSubscription]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[Subscription] ADD  CONSTRAINT [IX_Subscription_NameSubscription] UNIQUE NONCLUSTERED 
(
	[NameSubscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Login]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VisitDate_DayOfVisit]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[VisitDate] ADD  CONSTRAINT [IX_VisitDate_DayOfVisit] UNIQUE NONCLUSTERED 
(
	[DayOfVisit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VisitTime_TimeEnd]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[VisitTime] ADD  CONSTRAINT [IX_VisitTime_TimeEnd] UNIQUE NONCLUSTERED 
(
	[VisitTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VisitTime_TimeStart]    Script Date: 05.03.2023 18:41:45 ******/
ALTER TABLE [dbo].[VisitTime] ADD  CONSTRAINT [IX_VisitTime_TimeStart] UNIQUE NONCLUSTERED 
(
	[VisitTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Status]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Subscription] FOREIGN KEY([SubscriptionID])
REFERENCES [dbo].[Subscription] ([SubscriptionID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Subscription]
GO
ALTER TABLE [dbo].[Coach]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Speciality] ([SpecialityID])
GO
ALTER TABLE [dbo].[Coach] CHECK CONSTRAINT [FK_Coach_Speciality]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coach] ([CoachID])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Coach]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Speciality] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Speciality] ([SpecialityID])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Speciality]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_VisitDate] FOREIGN KEY([VisitDateID])
REFERENCES [dbo].[VisitDate] ([VisitDateID])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_VisitDate]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_VisitTime] FOREIGN KEY([VisitTimeID])
REFERENCES [dbo].[VisitTime] ([VisitTimeID])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_VisitTime]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
